This notebook shows you how to use Pandas from Python to explore epidemic data. We will use the daily spreadsheet from EU CDC containing new cases and deaths per country per day.

Author: Damiaan Zwietering


__I'm not an epidemiologist or a virologist and just exploring data, so I will not draw conclusions on that level nor base behavior or policy upon these explorations and _neither should you_. Even within a country the data is heavily biased, not in the least because of testing and measurement policies changing over time!__

Get Pandas and NumPy for feature engineering and calculations and get our plots inline.

In [4]:
import pandas as pd
import numpy  as np

%matplotlib inline

We read our dataframe `df` directly from the previous etl step

In [5]:
df = pd.read_csv('cases.csv')
df.head(10)

,Unnamed: 0,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018,continentExp
0,0,2020-04-28,28,4,2020,172,0,Afghanistan,AF,AFG,37172386.0,Asia
1,1,2020-04-27,27,4,2020,68,10,Afghanistan,AF,AFG,37172386.0,Asia
2,2,2020-04-26,26,4,2020,112,4,Afghanistan,AF,AFG,37172386.0,Asia
3,3,2020-04-25,25,4,2020,70,1,Afghanistan,AF,AFG,37172386.0,Asia
4,4,2020-04-24,24,4,2020,105,2,Afghanistan,AF,AFG,37172386.0,Asia
5,5,2020-04-23,23,4,2020,84,4,Afghanistan,AF,AFG,37172386.0,Asia
6,6,2020-04-22,22,4,2020,61,1,Afghanistan,AF,AFG,37172386.0,Asia
7,7,2020-04-21,21,4,2020,35,2,Afghanistan,AF,AFG,37172386.0,Asia
8,8,2020-04-20,20,4,2020,88,3,Afghanistan,AF,AFG,37172386.0,Asia
9,9,2020-04-19,19,4,2020,63,0,Afghanistan,AF,AFG,37172386.0,Asia

Use a `count` on columns to see how many missing values we have. We would like to analyze countries by `geoId`.

In [5]:
df.count()

dateRep                    13418
day                        13418
month                      13418
year                       13418
cases                      13418
deaths                     13418
countriesAndTerritories    13418
geoId                      13374
countryterritoryCode       13270
popData2018                13297
continentExp               13418
dtype: int64

Because we seem to miss some `geoId` entries, we will drop those lines using `dropna`. The resulting dataframe is pivoted so we get one row per date in `dateRep`, columns by `geoId` and the number of new `cases` and `deaths` for that date and country in the cells. Again, show the first 10 rows from our new dataframe `df_geo` to check the result of our `pivot`.

In [6]:
df_geo = df.dropna(subset=['geoId']).pivot(index='dateRep', columns='geoId', values=['cases', 'deaths'])
df_geo.head(10)

           cases                                          ... deaths          \
geoId         AD   AE   AF  AG  AI  AL   AM  AO  AR   AT  ...     VC  VE  VG
dateRep                                                   ...
2019-12-31   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-01   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-02   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-03   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-04   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-05   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-06   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-07   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-08   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN
2020-01-09   NaN  0.0  0.0 NaN NaN NaN  0.0 NaN NaN  0.0  ...    NaN NaN NaN


geoId       VI   VN  XK  YE  ZA  ZM  ZW
dateRep
2019-12-31 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-01 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-02 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-03 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-04 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-05 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-06 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-07 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-08 NaN  0.0 NaN NaN NaN NaN NaN
2020-01-09 NaN  0.0 NaN NaN NaN NaN NaN

[10 rows x 412 columns]

Looking good, lots of missing values, meaning there's no data for that country on the current date. We can describe the columns to get an idea of what's there.

In [7]:
df_geo.describe()

           cases                                                           \
geoId         AD          AE          AF         AG         AI         AL
count  45.000000  113.000000  109.000000  39.000000  32.000000  50.000000
mean   16.444444   91.584071   14.045872   0.615385   0.093750  14.520000
std    12.561767  172.575176   25.624202   1.369122   0.390151   8.581518
min     0.000000    0.000000    0.000000   0.000000   0.000000   0.000000
25%     7.000000    0.000000    0.000000   0.000000   0.000000   8.250000
50%    14.000000    0.000000    0.000000   0.000000   0.000000  13.500000
75%    25.000000   50.000000   16.000000   0.000000   0.000000  21.000000
max    43.000000  536.000000  112.000000   6.000000   2.000000  34.000000

                                                       ... deaths             \
geoId          AM         AO          AR           AT  ...     VC         VE
count  110.000000  37.000000   52.000000   119.000000  ...   35.0  44.000000
mean    16.436364   0.702703   72.442308   127.638655  ...    0.0   0.227273
std     24.612418   1.221676   68.559238   223.808587  ...    0.0   0.565012
min      0.000000   0.000000    0.000000     0.000000  ...    0.0   0.000000
25%      0.000000   0.000000   10.500000     0.000000  ...    0.0   0.000000
50%      0.000000   0.000000   71.500000     2.000000  ...    0.0   0.000000
75%     30.000000   1.000000  105.250000   153.000000  ...    0.0   0.000000
max     92.000000   5.000000  344.000000  1141.000000  ...    0.0   2.000000

                                                                           \
geoId         VG         VI     VN         XK    YE         ZA         ZM
count  32.000000  34.000000  115.0  43.000000  18.0  51.000000  40.000000
mean    0.031250   0.088235    0.0   0.488372   0.0   1.705882   0.075000
std     0.176777   0.287902    0.0   0.855573   0.0   2.927758   0.266747
min     0.000000   0.000000    0.0   0.000000   0.0   0.000000   0.000000
25%     0.000000   0.000000    0.0   0.000000   0.0   0.000000   0.000000
50%     0.000000   0.000000    0.0   0.000000   0.0   0.000000   0.000000
75%     0.000000   0.000000    0.0   1.000000   0.0   2.000000   0.000000
max     1.000000   1.000000    0.0   3.000000   0.0  14.000000   1.000000


geoId         ZW
count  38.000000
mean    0.105263
std     0.311012
min     0.000000
25%     0.000000
50%     0.000000
75%     0.000000
max     1.000000

[8 rows x 412 columns]

Export the pivot table for downstream analytics

In [6]:
df_geo.to_csv('cases_pivot.csv')